<style>

figcaption {
    font-size: 0.6em !important;
    font-style: italic !important;
}

.subtitle {
    font-style: italic !important;
}

.date {
    font-size: 0.75em !important;
}

.reveal h1 {
    font-size: 2.75em !important;
}

</style>
